{{!-- input URL --}}

<form method="POST" action="/">
  <div class="row mb-3 g-2 text-center">
    <input type="text" name="inputURL" class="form-control" id="inputURL" value="Input URL here">
  </div>
  <button type="submit" class="btn btn-outline-primary">Shortener</button>
</form>

